<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Accounts Management</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">

</head>

<body onload="onload()">
    <form action="#" id="loading"></form>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="main">
                        Main Page
                    </a>
                </li>
                <li>
                    <a href="accounts">Accounts</a>
                </li>
                <li>
                    <a href="inventory">Inventory</a>
                </li>
                <li>
                    <a href="">Orders</a>
                </li>
                <li>
                    <a href="delivery">Delivery</a>
                </li>
                <li>
                    <a href="shopee">Shopee</a>
                </li>
                <li>
                    <a href="csvtester">CSV Tester</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="booking-form"></div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><b>Toggle Menu</b></a>
                <h1>Accounts</h1>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
            </div>

            <div id="table" class="table-editable">
              <!--<span class="table-add glyphicon glyphicon-plus"></span>-->
              <table class="table" id="acctTable">
                <tr>
                  <th>Account Name</th>
                  <th>Seller ID</th>
                  <th>IMS API Key</th>
                  <th>TMS API Key</th>
                  <th>Delete</th>
                  <th>Edit</th>
                </tr>
                <!-- This is our clonable table line -->
                <tr class="hide">
                  <td contenteditable="true" class="name">Untitled</td>
                  <td contenteditable="true" class="sellerid">undefined</td>
                  <td contenteditable="true" class="IMSAPI">undefined</td>
                  <td contenteditable="true" class="TMSAPI">undefined</td>
                  <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                  </td>
                  <td>
                    <span class="table-up glyphicon glyphicon-ok"></span>
                  </td>
                </tr>
              </table>
            </div>

            <br></br>

            <h2> Create New account</h2>
            <form action="#" id="newAcct">
              Account name:<br>
              <input type="text" id="name" class='fields'><br>
              MCCP seller id:<br>
              <input type="text" id="sellerid" class='fields'><br>
              IMS API Key:<br>
              <input type="text" id="imsapi" class='fields'><br>
              TMS API Key:<br>
              <input type="text" id="tmsapi" class='fields'><br>
              <input type="button" id="acctSubmit" class="submit" value="Submit" onclick="createAccount();">
            </form>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/simple-sidebar.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
