<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inventory recon</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body onload="onload()">
    <form action="#" id="loading"></form>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="main">
                        Main Page
                    </a>
                </li>
                <li>
                    <a href="accounts">Accounts</a>
                </li>
                <li>
                    <a href="inventory">Inventory</a>
                </li>
                <li>
                    <a href="">Orders</a>
                </li>
                <li>
                    <a href="delivery">Delivery</a>
                </li>
                <li>
                    <a href="shopee">Shopee</a>
                </li>
                <li>
                    <a href="csvtester">CSV Tester</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><b>Toggle Menu</b></a>
                <h1>Delivery</h1>
                <p>Check on delivery status for orders here</p>
                <p><b>Enter the order number to trace</b></p>
            </div>

            <form action="#" id="shopee">
              Order Number: <input type="text" id="orderno" value="">
              <br></br>
              <input type="button" id="shopee" class="submit" value="submit" onclick="getShipments();">
            </form>

        </div>

        <div class="container" id="dup main">
          <h2>Results</h2>
          <p class="info" id="info"><b>No results found.</b></p>
          <p id="outstanding"></p>
          <button type="button" class="btn clone hide"> </button>
          <br></br>
          <div class="hide" id="duplicate">
            <p class=products></p>
            <p class="tn"></p>
            <p class="ship"></p>
            <p class="status"></p>
            <p class="create"></p>
            <p class="deliver"></p>
            <button type="button" class="btn btn-info" onclick="window.open('https://www.urbanfox.asia/courier-tracking/tracking/?tracking_number=1001')">Redirect to TMS</button>
            <br class="break"></br>
          </div>
        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/delivery.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
