<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSV Tester</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">

</head>

<body onload="onload()">
    <form action="#" id="loading"></form>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="main">
                      Main Page
                  </a>
                </li>
                <li>
                    <a href="accounts">Accounts</a>
                </li>
                <li>
                    <a href="inventory">Inventory</a>
                </li>
                <li>
                    <a href="">Orders</a>
                </li>
                <li>
                    <a href="delivery">Delivery</a>
                </li>
                <li>
                    <a href="shopee">Shopee</a>
                </li>
                <li>
                    <a href="csvtester">CSV Tester</a>
                </li>
                <li>
                    <a href="orderupload">Order Upload to IMS</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><b>Toggle Menu</b></a>
                <h1>Order upload to IMS</h1>
                <p>Download the file from seller panel -> reports -> sales. Leave only the rows you would like to upload.</p>
                <p>One order may contain multuiple rows as each row represents one SKU.</p>
                <p>Each CSV file should only contain orders from one seller.</p>
                <p>Fill in the apikey first before uploading the file. </p>
            </div>
            <p id="result"></p>
            <br></br>
            <p>API Key: </p>
            <input type="text" id="apikey" value="gifPV0jPWpgQeuOQBwH7lXAo2b3iI5PnEG//tNmPnJk=">
            <br></br>
            <form action="#" id="orderupload" accept-charset="utf-8">
              <input type="file" id="csv" class="submit" value="submit" oninput="">
            </form>
            <br></br>
            <button onclick="csvUpload()">Submit</button>
            <br></br>
            <p id="result2"></p>

        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/orderupload.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#wrapper").toggleClass("toggled");
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
